html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #0f172a; /* Color de fondo oscuro que coincide con tu aplicación */
}

/* Asegurarse de que todos los contenedores principales hereden el 100% del tamaño */
#root,
#root > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
